{% if doc.custom_prefered_bank_account %}
  {% set bank = frappe.get_doc("Bank Account", doc.custom_prefered_bank_account) %}
  <div>
    <strong>Bank:</strong> {{ bank.bank }}<br>
    <strong>Account Name:</strong> {{ bank.account_name }}<br>
    <strong>Account Number:</strong> {{ bank.bank_account_no }}<br>
    {% if bank.iban %}<strong>IBAN:</strong> {{ bank.iban }}<br>{% endif %}
    {% if bank.branch_code %}<strong>Branch Code:</strong> {{ bank.branch_code }}{% endif %}
  </div>
{% endif %}