<div class="shipping-meta">
      {% if doc.get("shipping_rule") %}
        <div class="meta-row">
          <div class="meta-label">Shipping Rule:</div>
          <div class="meta-value">{{ doc.shipping_rule }}</div>
        </div>
      {% endif %}

      {% if doc.get("incoterm") %}
        <div class="meta-row">
          <div class="meta-label">Incoterm:</div>
          <div class="meta-value">{{ doc.incoterm }}</div>
        </div>
      {% endif %}

      {% if doc.get("named_place") %}
        <div class="meta-row">
          <div class="meta-label">Named Place:</div>
          <div class="meta-value">{{ doc.named_place }}</div>
        </div>
      {% endif %}

      {% if doc.get("tc_name") %}
        <div class="meta-row">
          <div class="meta-label">Shipping Terms:</div>
          <div class="meta-value">{{ doc.tc_name }}</div>
        </div>
      {% endif %}

      {% if doc.get("transporter") %}
        <div class="meta-row">
          <div class="meta-label">Transporter:</div>
          <div class="meta-value">{{ doc.transporter }}</div>
        </div>
      {% endif %}

        {% if doc.get("driver") %}
        <div class="meta-row">
            <div class="meta-label">Driver:</div>
            {% if doc.get("driver_name") %}
            <div class="meta-value">{{ doc.driver_name }}</div>
            {% else %}
            <div class="meta-value">{{ doc.driver }}</div>
            {% endif %}
        </div>
        {% endif %}

       {% if doc.get("vehicle_no") %}
        <div class="meta-row">
          <div class="meta-label">Vehicle No:</div>
          <div class="meta-value">{{ doc.vehicle_no }}</div>
        </div>
      {% endif %}
</div>