<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>[[ title ]]</title>
    [[ styles ]]
</head>
<body>
  [[ header ]]
<!-- Party block -->
<div class="row block">
  <div class="left">
    [[ shipping-address ]]
  </div>

  <div class="right">
    [[ shipping-meta ]]
  </div>
</div>

<!-- Items -->
  <table>
    <thead>
      <tr>
         <th class="photocol">Image</th>
        <th class="itemcol">Item</th>
        <th>Description</th>
        <th class="num">Qty</th>
        <th class="num">UOM</th>
      </tr>
    </thead>
    <tbody>
      {% for it in doc.items %}
        <tr>
          <td class="photocol">
            [[ row-image ]]
          </td>
          [[ row-item ]] 
          <td>
            {% if it.description %}{{ it.description }}{% endif %}
          </td>
          <td class="num">{{ it.qty }}</td>
          <td class="num">{{ it.uom or "" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  [[ notes ]]
  [[ physical-total ]]

<div class="row block">
  <div class="left doc-id">
    Prepared By
    <br><br><br><br>
    ____________________
    <br>
    
  </div>

  <div class="mid doc-id">
    Transported By
    <br><br><br><br>
    ____________________
    <br>
    
  </div>

  <div class="right doc-id">
    Received By
    <br><br><br><br>
    ____________________
    <br>
    
  </div>
</div>
</body>
</html>