<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>[[ title ]]</title>
    [[ styles ]]
</head>
<body>
  [[ header ]]
<!-- Party block -->
<div class="row block">
  <div class="left">
    [[ shipping-address ]]
  </div>

  <div class="right">
    <div class="shipping-meta">
      {% if doc.get("shipping_rule") %}
        <div class="meta-row">
          <div class="meta-label">Shipping Rule:</div>
          <div class="meta-value">{{ doc.shipping_rule }}</div>
        </div>
      {% endif %}

      {% if doc.get("incoterm") %}
        <div class="meta-row">
          <div class="meta-label">Incoterm:</div>
          <div class="meta-value">{{ doc.incoterm }}</div>
        </div>
      {% endif %}

      {% if doc.get("named_place") %}
        <div class="meta-row">
          <div class="meta-label">Named Place:</div>
          <div class="meta-value">{{ doc.named_place }}</div>
        </div>
      {% endif %}

      {% if doc.get("tc_name") %}
        <div class="meta-row">
          <div class="meta-label">Shipping Terms:</div>
          <div class="meta-value">{{ doc.tc_name }}</div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Items -->
  <table>
    <thead>
      <tr>
         <th class="photocol">Image</th>
        <th class="itemcol">Item</th>
        <th>Description</th>
        <th class="num">Qty</th>
        <th class="num">UOM</th>
      </tr>
    </thead>
    <tbody>
      {% for it in doc.items %}
        <tr>
          <td class="photocol">
            [[ row-image ]]
          </td>
          [[ row-item ]] 
          <td>
            {% if it.description %}{{ it.description }}{% endif %}
          </td>
          <td class="num">{{ it.qty }}</td>
          <td class="num">{{ it.uom or "" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  [[ notes ]]
  [[ physical-total ]]
</body>
</html>