<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Packing Slip Labels</title> 
    [[ styles ]]
  </head>

  <body>
    <div class="print-format">

      {% set packing_slips = frappe.get_all(
        "Packing Slip",
        filters={
          "delivery_note": doc.name,
          "docstatus": ["!=", 2]
        },
        fields=["name"],
        order_by="creation asc"
      ) %}

      {% set total_crates = packing_slips | length %}

      {% for ps_row in packing_slips %}
        {% set ps = frappe.get_doc("Packing Slip", ps_row.name) %}
        {% set crate_number = ps.get("from_case_no") %}

        {% for item in ps.items %}

          {% set customer_item_id = frappe.db.get_value(
            "Item Customer Detail",
            {
              "parent": item.item_code,
              "customer_name": doc.customer
            },
            "ref_code"
          ) %}

          <div class="block" style="border-width: 2px 0 2px 0; border-style: solid; border-color: black; break-inside: avoid-page; padding: 2mm 0 2mm 0;">
            <div class="row block">
              <div class="left">
                <div class="muted">CUSTOMER</div>
                <div class="doc-id" style="font-size:2rem; white-space: nowrap;">
                  {{ doc.customer_name or doc.customer }}
                </div>
              </div>

              <div class="mid"></div>

              <div class="right">
                <div class="muted">CRATE</div>
                <div class="doc-id" style="font-size:2rem; white-space: nowrap;">
                  {{ crate_number }}/{{ total_crates }}
                </div>
              </div>
            </div>

            <div class="row block">
              <div class="left">
                <div class="block">
                  <div class="muted">TIMBOEL ITEM ID</div>
                  <div style="font-size: 1.25rem;">
                    {{ item.item_code }}
                  </div>
                </div>
                {% if customer_item_id %}
                <div class="block">
                  <div class="muted">CUSTOMER ITEM ID</div>
                  <div style="font-size: 1.1rem;">
                    {{ customer_item_id or "" }}
                  </div>
                </div>
                {% endif %}

                <div class="block">
                  <div class="muted">QTY IN CRATE</div>
                  <div style="font-size: 1rem;">
                    {{ item.qty }}
                  </div>
                </div>
              </div>

              <div class="mid">
                <div class="qr-node" data-qr="{{ item.item_code }}"></div>
                <div>{{ item.item_code }}</div>
              </div>

              <div class="right">
                <div class="block">
                  <div class="muted">DESCRIPTION</div>
                  <div style="font-size: 1rem;">
                    {% set item_master = frappe.db.get_value(
                            "Item",
                            item.item_code,
                            [
                            "item_name",
                            "custom_panjang",
                            "custom_lebar",
                            "custom_tinggi",
                            "custom_cbm",
                            "weight_per_unit"
                            ],
                            as_dict=1
                        ) %}

                        {% if item_master %}
                            {% if item_master.item_name %}
                            {{ item_master.item_name }}<br>
                            {% endif %}

                            {% if item_master.custom_panjang and item_master.custom_lebar and item_master.custom_tinggi %}
                            {{ item_master.custom_panjang }} x {{ item_master.custom_lebar }} x {{ item_master.custom_tinggi }} Cm<br>
                            {% endif %}

                            {% if item_master.custom_cbm %}
                            {{ item_master.custom_cbm }} cbm 
                            {% endif %}

                            {% if item_master.weight_per_unit %}
                            {{ item_master.weight_per_unit }} Kg
                            {% endif %}
                        {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

      {% endfor %}

    </div>

    [[ qr-script ]]
  </body>
</html>