<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>[[ title ]]</title>
    [[ styles ]]
</head>
<body>
  [[ header ]]

<!-- Items -->
  <table>
    <thead>
      <tr>
         <th class="photocol">Image</th>
        <th class="itemcol">Item</th>
        <th>Description</th>
        <th class="num">Planned</th>
        <th class="num">UOM</th>
        <th>Target Warehouse</th>
      </tr>
    </thead>
    <tbody>
      {% for it in doc.po_items %}
        <tr>
          <td class="photocol">
            [[ row-image ]]
          </td>
          [[ row-item ]]
          <td>
            {% if it.description %}{{ it.description }}{% endif %}
          </td>
          <td class="num">{{ it.planned_qty }}</td>
          <td class="num">{{ it.uom or "" }}</td>
          <td>{{ it.warehouse or "" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  [[ notes ]]
</body>
</html>