<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>[[ title ]]</title>
    [[ styles ]]
</head>
<body>
  [[ header ]]

<!-- Items -->

{% set ns = namespace(has_note=false) %}

{% for it in doc.table_acva %}
  {% if it.note_to_customer and it.note_to_customer|striptags|trim %}
    {% set ns.has_note = true %}
  {% endif %}
{% endfor %}


  <table>
    <thead>
      <tr>
         <th class="photocol">Image</th>
        <th class="itemcol">Item</th>
        <th> Description </th>
        <th class="num">Available QTY</th>
        {% if doc.show_price %}
        <th class="num">Rate</th>
        {% endif %}
        {% if ns.has_note %}
        <th>Note to Customer</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for it in doc.table_acva %}
        {% set price_amount = frappe.utils.flt(it.rate or 0, 2) %}
        {% set price_currency = doc.get("currency") or doc.get("company_currency") or "IDR" %}
        {% set price_precision = 2 if price_amount != price_amount|int else 0 %}
        <tr>
          <td class="photocol">
            [[ row-image ]]
          </td>
          [[ row-item ]]
          <td> {{ it.description }} </td>
          <td class="num">{{ it.qty }}</td>
          {% if doc.show_price %}
          <td class="num"> {{ frappe.utils.fmt_money(price_amount, currency=price_currency, precision=price_precision) }} </td>
          {% endif %}
          {% if ns.has_note %}
          <td> {% if it.note_to_customer %} {{ it.note_to_customer }} {% endif %} </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  [[ notes ]]
</body>
</html>